/* Normalize CSS */
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;900&display=swap');

/* Theme variables */
:root {
    /* Colors */
    --primary-color: #4C566A;
    --secondary-color: #434C5E;
    --background-color: #ECEFF4;
    --white-color: #FFFFFF;

    /* Font */
    --primary-font: 'Rubik', sans-serif;
    --secondary-font: 'Rubik', sans-serif;

    /* Font size */
    --font-size-extra-small: 0.75rem;
    --font-size-small: 0.875rem;
    --font-size-normal: 1rem;
    --font-size-medium: 1.5rem;
    --font-size-large: 3rem;
    --font-size-extra-large: 4rem;

    /* Font weight */
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-weight-dark: 900;

    /* Line height */
    --line-height-extra-small: 1rem;
    --line-height-small: 1.25rem;
    --line-height-normal: 1.5rem;
    --line-height-medium: 1.75rem;
    --line-height-large: 2rem;
    --line-height-extra-large: 2.25rem;

    /* Spacing */
    --spacing-none: 0;
    --spacing-extra-small: 0.5rem;
    --spacing-small: 0.75rem;
    --spacing-normal: 1rem;
    --spacing-medium: 2rem;
    --spacing-large: 3rem;
    --spacing-extra-large: 4rem;

    /* Border radius */
    --border-radius-none: 0;
    --border-radius-small: 0.25rem;
    --border-radius-normal: 0.5rem;
    --border-radius-medium: 1rem;
    --border-radius-large: 2rem;
    --border-radius-extra-large: 4rem;

    /* Shadows */
    --shadow-none: none;
    --shadow-extra-small: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.05);
    --shadow-small: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    --shadow-normal: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    --shadow-medium: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    --shadow-large: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
    --shadow-extra-large: 0 2rem 6rem rgba(0, 0, 0, 0.25);
    --shadow-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
}

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--primary-font);
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height-normal);
    color: var(--primary-color);
    background: var(--background-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--secondary-font);
    font-weight: var(--font-weight-bold);
    padding: 0;
    margin: 0;
}

#root {
    height: 100vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    padding: 0 var(--spacing-extra-small);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.header {
    margin-top: var(--spacing-extra-large);
    margin-bottom: var(--spacing-extra-large);
}

.header h1 {
    text-align: center;
    color: var(--secondary-color);
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-large);
}

.deck {
    padding: var(--spacing-small);
    background: var(--white-color);
    border-radius: var(--border-radius-normal);
    box-shadow: var(--shadow-extra-small);
    flex: 1;
    margin-bottom: var(--spacing-medium);
}
